<%# <p id="notice" style="relative"><%= notice %>
  <div class="whole-container">
  <% @categories.each do |category| %>
    <% if category.user_id == current_user.id %>
    <div class="format-cards">
      <div class="card translucent" style="width: 20rem;">
      <%# <img class="card-img-top" src="..." alt="Card image cap"> %>

        <div class="card-body">
          <h5 class="card-title">
          <div class="category-linkcolor"><%= link_to "#{category.name}", category_url(category.id) %></div></h5>
          <%# <p class="card-text">Some quick example text</p> %>
        </div>
        <ul class="list-group list-group-flush">
        <%# <% if category.tasks.count > 0 %>
        <% 3.times do |task| %>
         <% if category.tasks.at(task) %>
          <li class="list-group-item"><%= category.tasks.at(task).content %></li>
         <% end %>
        <% end %>
        <%# <% end %> 
        </ul>
        <div class="card-body">
          <a href="/tasks/new" title="Add Task"><img src="https://www.freeiconspng.com/uploads/plus-icon-black-2.png" width="36" alt="Plus Icon Black" /></a>
          <a href="/categories/<%= category.id %>/edit" title="Edit List"><img src="https://www.freeiconspng.com/uploads/edit-new-icon-22.png" width="24" alt="Edit, new, icon" /></a>
          <%= button_to 'Destroy', category, method: :delete %>
        </div>

      </div>
    </div>
    <% end %>
  <% end %>
    </div>
<br>
