<p id="notice"><%= notice %></p>

<p>
  <strong><%= @category.name %></strong>

<%= link_to 'Edit', edit_category_path(@category) %> |

</p>


<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <% datetime = task.deadline %>
        <%# datetime.to_fs(:long_ordinal)%>  
        <%# => "December 4th, 2007 00:00" %>
        <%= time_between = @date - datetime %>
        <% num_days = number_of_days.to_i %>
          <% if num_days > 3 %>
            <div style= "color: red">
              <td><% task.deadline %></td>
            </div>
          <% else %>
            <td><% task.deadline %></td>
          <% end %>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
