<p id="notice"><%= notice %></p>

<p>
  <strong><%= @category.name %></strong>

<%= link_to 'Edit', edit_category_path(@category) %> | <%= button_to 'Destroy', category_path(@category), method: :delete %>

</p>


<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Content</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>Bookmark select</td>
        <td><%= task.content %></td>
        <%# time = task.deadline %>
        <%#= distance_of_time_in_words(time, @now)%>
        <% x = DateTime.parse(task.deadline.to_s) %>
        <% time_whole = @now - x %>
        <% time_between_in_days = time_whole.to_i/365 %>
        <% if time_between_in_days.to_i > 3 %>
          <div>
            <td style= "color: red"><%= distance_of_time_in_words(task.deadline, @now) %> ago</td>
          </div>
        <% else %>
          <td>in <%= distance_of_time_in_words(task.deadline, @now) %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
